{% extends 'baseAdmin.html.twig' %}

{% block title %}Tạo mới Bác sĩ
{% endblock %}

{% block body %}
	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div
			class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="page-title">Tạo mới Bác sĩ</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="index.html">Dashboard</a>
							</li>
							<li class="breadcrumb-item active">Tạo mới Bác sĩ</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="mb-2">
				<a class="btn btn-sm btn-warning rounded mr-2" href="{{path('app_doctor_index')}}">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
					Trở về</a>
			</div>

			{{ include('admin/doctor/_form.html.twig') }}

		</div>
	</div>

{% endblock %}
