{% extends 'baseAdmin.html.twig' %}

{% block title %}Tạo mới Bệnh nhân
{% endblock %}

{% block body %}
	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div
			class="content container-fluid pb-5">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="page-title">Tạo mới Bệnh nhân</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="{{path('app_admin_dashboard')}}">Dashboard</a>
							</li>
							<li class="breadcrumb-item active">Tạo mới Bệnh nhân</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="mb-2">
				<a class="btn btn-sm btn-warning rounded mr-2" href="{{path('app_admin_patient')}}">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
					Trở về</a>
			</div>


			{{ include('admin/patient/_form.html.twig') }}

		</div>
	</div>

{% endblock %}
