{% extends 'baseAdmin.html.twig' %}

{% block title %}Thêm mới lịch cho bác sĩ

{% endblock %}

{% block body %}
	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div
			class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-7 col-auto">
						<h3 class="page-title">Tạo lịch làm việc</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="">Dashboard</a>
							</li>
							<li class="breadcrumb-item active">Tạo lịch làm việc</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->
			<div class="mb-2">
				<a class="btn btn-sm btn-warning rounded mr-2" href="{{path('app_schedule_work_index')}}">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
					Trở về</a>
			</div>

			{{ include('admin/schedule_work/_form.html.twig') }}

		</div>
	</div>

{% endblock %}
