{% extends 'base.html.twig' %}

{% block title %}New ScheduleWork{% endblock %}

{% block body %}
    <h1>Create new ScheduleWork</h1>

    {{ include('admin/schedule_work/_form.html.twig') }}

    <a href="{{ path('app_schedule_work_index') }}">back to list</a>
{% endblock %}
