{% extends 'baseCustomer.html.twig' %}

{% block title %}Đặt lịch thành công
{% endblock %}

{% block body %}
	{# <div class="text-center p-4 bg-light border rounded shadow-sm">
					<h2 class="text-success font-weight-bold mb-3">
						<i class="fa fa-check-circle"></i>
						Đặt lịch thành công!
					</h2>
					<p class="text-muted lead">Lịch hẹn của bạn đã được xác nhận. Vui lòng kiểm tra mail để xác nhận thông tin.</p>
				</div> #}

	<!-- Page Content -->
		<div class="content success-page-cont"> <div class="container-fluid">

			<div class="row justify-content-center">
				<div
					class="col-lg-6">

					<!-- Success Card -->
					<div class="card success-card">
						<div class="card-body">
							<div class="success-cont">
								<i class="fas fa-check"></i>
								<h3>Đặt lịch thành công!</h3>
								{# <p>Appointment booked with <strong>Dr. Darren Elder</strong><br> on <strong>12 Nov 2019 5:00PM to 6:00PM</strong></p> #}
								<p>Cảm ơn!
									<strong>
										{{appointment.patientFullname}}
									</strong>
									đã đặt lịch.</p>
								<p class="text-muted lead">
									Lịch hẹn của bạn đã được xác nhận. Vui lòng kiểm tra mail để xác nhận thông tin.</p>

								<a href="mailto:{{appointment.patientEmail}}" class="btn btn-primary view-inv-btn">Xem mail</a>
							</div>
						</div>
					</div>
					<!-- /Success Card -->

				</div>
			</div>

		</div>
	</div>
	<!-- /Page Content -->
{% endblock %}
