{% extends 'baseCustomer.html.twig' %}

{% block title %}Đặt lịch thành công{% endblock %}

{% block body %}
    <h2>Đặt lịch thành công!</h2>
    <p>Lịch hẹn của bạn đã được lưu, vui lòng đến cơ sở y tế để thanh toán.</p>
{% endblock %}
