{% extends 'baseCustomer.html.twig' %}

{% block title %}Thông tin bác sĩ
{% endblock %}

{% block body %}
	<!-- Breadcrumb -->
	<div class="breadcrumb-bar">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-md-12 col-12">
					<nav aria-label="breadcrumb" class="page-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="{{path('app_home')}}">Trang chủ</a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">Doctor Profile</li>
						</ol>
					</nav>
					<h2 class="breadcrumb-title">Doctor Profile</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- /Breadcrumb -->

	<!-- Page Content -->
	<div class="content">
		<div
			class="container">

			<!-- Doctor Widget -->
			<div class="card">
				<div class="card-body">
					<div class="doctor-widget">
						<div class="doc-info-left">
							<div class="doctor-img">
								<img src="assets/img/doctors/doctor-thumb-02.jpg" class="img-fluid" alt="User Image">
							</div>
							<div class="doc-info-cont">
								<h4 class="doc-name">Dr. Darren Elder</h4>
								<p class="doc-speciality">BDS, MDS - Oral & Maxillofacial Surgery</p>
								<p class="doc-department"><img src="assets/img/specialities/specialities-05.png" class="img-fluid" alt="Speciality">Dentist</p>

								<div class="clinic-details">
									<p class="doc-location">
										<i class="fas fa-map-marker-alt"></i>
										Newyork, USA -
										<a href="javascript:void(0);">Get Directions</a>
									</p>
								</div>
							</div>
						</div>
						<div class="doc-info-right">
							<div class="clini-infos">
								<ul>
									<li>
										<i class="fas fa-map-marker-alt"></i>
										Newyork, USA</li>
									<li>
										<i class="far fa-money-bill-alt"></i>
										$100 per hour
									</li>
								</ul>
							</div>

							<div class="clinic-booking">
								<a class="apt-btn" href="booking.html">Book Appointment</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Doctor Widget -->

			<!-- Doctor Details Tab -->
			<div class="card">
				<div
					class="card-body pt-0">

					<!-- Tab Menu -->
					<nav class="user-tabs mb-4">
						<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
							<li class="nav-item">
								<a class="nav-link active" href="#doc_overview" data-toggle="tab">Overview</a>
							</li>

						</ul>
					</nav>
					<!-- /Tab Menu -->

					<!-- Tab Content -->
					<div
						class="tab-content pt-0">

						<!-- Overview Content -->
						<div role="tabpanel" id="doc_overview" class="tab-pane fade show active">
							<div class="row">
								<div
									class="col-md-12 col-lg-9">

									<!-- About Details -->
									<div class="widget about-widget">
										<h4 class="widget-title">About Me</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
									<!-- /About Details -->

									<!-- Specializations List -->
									<div class="service-list">
										<h4>Specializations</h4>
										<ul class="clearfix">
											<li>Children Care</li>
											<li>Dental Care</li>
											<li>Oral and Maxillofacial Surgery
											</li>
											<li>Orthodontist</li>
											<li>Periodontist</li>
											<li>Prosthodontics</li>
										</ul>
									</div>
									<!-- /Specializations List -->

								</div>
							</div>
						</div>
						<!-- /Overview Content -->

					</div>
				</div>
			</div>
			<!-- /Doctor Details Tab -->

		</div>
	</div>
	<!-- /Page Content -->
{% endblock %}
